In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('Mall_Customers.csv')
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
data.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [17]:
data_ = data[['Gender','Age','Annual Income (k$)',
       'Spending Score (1-100)']]

In [18]:
data_.dtypes

Gender                    object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

In [19]:
def Gender(x):
    if x =='Male':
        return 1
    else:
        return 2

In [20]:
data_['gender'] = data['Gender'].map(Gender)

In [21]:
data_ = data_.drop('Gender',axis=1)

In [22]:
data_.head()

   Age  Annual Income (k$)  Spending Score (1-100)  gender
0   19                  15                      39       1
1   21                  15                      81       1
2   20                  16                       6       2
3   23                  16                      77       2
4   31                  17                      40       2

In [25]:
import sklearn.preprocessing as preprocessing
data_scaled = preprocessing.scale(data_,axis=0)